:root {
  --cor-principal-caixa-titulo: #fc9de7;
  --cor-principal-caixa-conteudo: #bafefe;
  --cor-principal-texto: #3b3729;
}

body {
  font-family: Arial;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cabecalho-caixa {
  padding: 20px 0 20px;
  background: url(../images/fundo-topov2.jpg) no-repeat;
  background-position: bottom left;
  background-size: cover;
}

.cabecalho-caixa-nome {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.cabecalho-caixa-nome-titulo {
  font-size: 2rem;
  display: inline-block;
  padding: 10px;
  background-color: var(--cor-principal-caixa-titulo);
  width: fit-content;
}

.cabecalho-caixa-nome-conteudo {
  font-size: 3rem;
  display: inline-block;
  padding: 10px;
  background-color: var(--cor-principal-caixa-conteudo);
  width: fit-content;
}

.cabecalho-caixa-type {
  display: flex;
  flex-direction: column;
}

.cabecalho-caixa-type-titulo {
  font-size: 1.5rem;
  display: inline-block;
  padding: 10px;
  background-color: var(--cor-principal-caixa-titulo);
  width: fit-content;
}

.cabecalho-caixa-type-conteudo {
  font-size: 2.5rem;
  display: inline-block;
  padding: 10px;
  background-color: var(--cor-principal-caixa-conteudo);
  width: fit-content;
}

.barra-menu {
  background-color: #b2fea1;
  border: solid black 2px;
}

.menu {
  display: flex;
}

.menu li a {
  font-size: 2rem;
  display: block;
  padding: 10px;
  border-right: solid black 2px;
  text-decoration: none;
  color: var(--cor-principal-texto);
}

.menu li a:hover {
  background-color: white;
}

main {
  margin: 0 50px;
}

@media (max-width: 600px) {
  .menu {
    display: grid;
  }

  .menu li a {
    border-right: solid black 0px;
  }
  main {
    margin: 0 10px;
  }
}
