.projetos {
  padding: 30px 0 0 0;
}

.projetos-caixa {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.projetos-caixa-titulo {
  font-size: 1.5rem;
  display: inline-block;
  padding: 10px;
  background-color: var(--cor-principal-caixa-titulo);
  width: fit-content;
}

.projetos-caixa-conteudo {
  font-size: 2.5rem;
  display: inline-block;
  padding: 10px;
  background-color: var(--cor-principal-caixa-conteudo);
  width: fit-content;
}

.caixa-grid {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  gap: 50px 100px;
  flex-wrap: wrap;
}

.projetos-caixa-information {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.projetos-caixa-information-titulo {
  font-size: 1.5rem;
  display: inline-block;
  padding: 10px;
  background-color: var(--cor-principal-caixa-titulo);
  width: fit-content;
}

.projetos-caixa-information-conteudo {
  font-size: 2.5rem;
  display: inline-block;
  padding: 10px;
  border: solid var(--cor-principal-caixa-conteudo) 5px;
  width: 350px;
  height: 350px;
  background-image: url(../images/projeto1.png);
}
